In [9]:
'''
IMPORT ALL DEPENDENCIES
--------------------------
Beautiful Soup: Parse HTML objects from web pages
Pymongo: Read and write to MongoDB
Splinter: Automating browser actions to interact with HTML elements
DateTime: Convert dates
re: Hack to remove 'rd', 'th', 'st' from date strings
'''

from bs4 import BeautifulSoup as bs
import pandas as pd
import pymongo
from pprint import pprint
import requests
from splinter import Browser
from datetime import datetime
from dateutil.parser import parse
import time
import re
import lxml

In [10]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://socialblade.com/youtube/top/50'
browser.visit(url)

In [11]:
html = browser.html
soup = bs(html, 'lxml')

summary = []
ranking = []
viewcount = []
earnings = []
timeline = []

def solve(s):                                             
    return re.sub(r'(\d)(st|nd|rd|th)', r'\1', s)

youtuber = soup.find_all('div', style='float: right; width: 900px;')
for i in youtuber:
    try:
        link = i.find_all('a')[1:]

        for i in link:
            youtuber_link = i['href']
            browser.click_link_by_href(youtuber_link)
            html = browser.html
            soup = bs(html, 'lxml')

            if 'YouTube search results found' in soup.text:
                browser.back()
            else:
                name = soup.find_all('h1', style='float: left; font-size: 1.4em; font-weight: bold; color:#333; margin: 0px; padding: 0px; margin-right: 5px;')[0].text
                primary_stats = soup.find_all('div', id='YouTubeUserTopInfoBlock')

                for i in primary_stats:
                    uploads = i.find_all('span', style='font-weight: bold;')[0].text.replace(',', '')
                    subscribers = i.find_all('span', style='font-weight: bold;')[1].text.replace(',', '')
                    views = i.find_all('span', style='font-weight: bold;')[2].text.replace(',', '')
                    category = i.find_all('span', style='font-weight: bold;')[4].text.replace(',', '')
                    created = i.find_all('span', style='font-weight: bold;')[5].text.replace(',', '')
                    if created == '--':
                        created = '1900-01-01'
                    else:
                        created = datetime.strptime(solve(created), "%b %d %Y").strftime('%Y-%m-%d')

                    summary.append({'name': name,
                                    'uploads': uploads,
                                    'subscribers': subscribers,
                                    'views': views,
                                    'category': category,
                                    'created': created})

                ranking_stats = soup.find_all('div', style='height: 100px; width: 860px; border-bottom: 1px solid #eee;')
                for i in ranking_stats:
                    grade = i.find_all('p')[0].text
                    subscriber_rank = i.find_all('p')[2].text[:-2].replace(',', '')
                    view_rank = i.find_all('p')[4].text[:-2].replace(',', '')
                    socialblade_rank = i.find_all('p')[6].text[:-2].replace(',', '')

                    ranking.append({'name': name,
                                'grade': grade,
                                'subscriber_rank': subscriber_rank,
                                'view_rank': view_rank,
                                'socialblade_rank': socialblade_rank})

                views_stats = soup.find_all('div', style='height: 70px; width: 860px; border-bottom: 1px solid #eee;')
                for i in views_stats:
                    views_last30d_count = i.find_all('span', id='afd-header-views-30d')[0].text.replace(',', '').replace('\n', '')
                    subs_last30d_count = i.find_all('span', id='afd-header-subs-30d')[0].text.replace(',', '').replace('\n', '')

                    viewcount.append({'name': name,
                                'views_last30d_count': views_last30d_count,
                                'subs_last30d_count': subs_last30d_count})

                earnings_stats = soup.find_all('div', style='height: 80px; width: 860px;')
                for i in earnings_stats:
                    min_monthly_earnings = i.find_all('p', style='font-size: 1.4em; color:#41a200; font-weight: 600; padding-top: 20px;')[0].text.split('-')[0].replace('$', '').replace('.', '').replace('K', '00').replace('M', '00000').strip()
                    max_monthly_earnings = i.find_all('p', style='font-size: 1.4em; color:#41a200; font-weight: 600; padding-top: 20px;')[0].text.split('-')[1].replace('$', '').replace('.', '').replace('K', '00').replace('M', '00000').strip()
                    min_annual_earnings = i.find_all('p', style='font-size: 1.4em; color:#41a200; font-weight: 600; padding-top: 20px;')[1].text.split('-')[0].replace('$', '').replace('.', '').replace('K', '00').replace('M', '00000').strip()
                    max_annual_earnings = i.find_all('p', style='font-size: 1.4em; color:#41a200; font-weight: 600; padding-top: 20px;')[1].text.split('-')[1].replace('$', '').replace('.', '').replace('K', '00').replace('M', '00000').strip()

                    earnings.append({'name': name,
                                'min_monthly_earnings': min_monthly_earnings,
                                'max_monthly_earnings': max_monthly_earnings,
                                'min_annual_earnings': min_annual_earnings,
                                'max_annual_earnings': max_annual_earnings})

                timeline_statsA = soup.find_all('div', style='width: 860px; height: 32px; line-height: 32px; background: #f8f8f8;; padding: 0px 20px; color:#444; font-size: 9pt; border-bottom: 1px solid #eee;')
                for i in timeline_statsA:
                    timeline_dateA = i.find_all('div', style='float: left; width: 95px;')[0].text.replace('\n', '')
                    timeline_subsA = i.find_all('div', style='width: 140px; float: left;')[0].text.replace('\n', '').replace(',', '')
                    timeline_viewsA = i.find_all('div', style='width: 140px; float: left;')[1].text.replace('\n', '').replace(',', '')

                    timeline_min_earningsA = i.find_all('div', style='float: left; width: 165px; height: 30px;')[0].text.split('-')[0].replace('$', '').strip()
                    if '.' in timeline_min_earningsA:
                        timeline_min_earningsA = timeline_min_earningsA.replace('.', '').replace('K', '00').replace('M', '00000')
                    else:
                        timeline_min_earningsA = timeline_min_earningsA.replace('K', '000').replace('M', '000000')

                    timeline_max_earningsA = i.find_all('div', style='float: left; width: 165px; height: 30px;')[0].text.split('-')[1].replace('$', '').strip()
                    if '.' in timeline_max_earningsA:
                        timeline_max_earningsA = timeline_max_earningsA.replace('.', '').replace('K', '00').replace('M', '00000')
                    else:
                        timeline_max_earningsA = timeline_max_earningsA.replace('K', '000').replace('M', '000000')

                    timeline.append({'name': name,
                                    'date': timeline_dateA,
                                   'subscribers': timeline_subsA,
                                    'views': timeline_viewsA,
                                    'min_earnings': timeline_min_earningsA,
                                    'max_earnings': timeline_max_earningsA})

                timeline_statsB = soup.find_all('div', style='width: 860px; height: 32px; line-height: 32px; background: #fcfcfc; padding: 0px 20px; color:#444; font-size: 9pt; border-bottom: 1px solid #eee;')
                for i in timeline_statsB:
                    timeline_dateB = i.find_all('div', style='float: left; width: 95px;')[0].text.replace('\n', '').strip()
                    timeline_subsB = i.find_all('div', style='width: 140px; float: left;')[0].text.replace(',', '').replace('\n', '').strip()
                    timeline_viewsB = i.find_all('div', style='width: 140px; float: left;')[1].text.replace('\n', '').replace(',', '').strip()

                    timeline_min_earningsB = i.find_all('div', style='float: left; width: 165px; height: 30px;')[0].text.split('-')[0].replace('$', '').strip()
                    if '.' in timeline_min_earningsB:
                        timeline_min_earningsB = timeline_min_earningsB.replace('.', '').replace('K', '00').replace('M', '00000')
                    else:
                        timeline_min_earningsB = timeline_min_earningsB.replace('K', '000').replace('M', '000000')

                    timeline_max_earningsB = i.find_all('div', style='float: left; width: 165px; height: 30px;')[0].text.split('-')[1].replace('$', '').strip()
                    if '.' in timeline_max_earningsB:
                        timeline_max_earningsB = timeline_max_earningsB.replace('.', '').replace('K', '00').replace('M', '00000')
                    else:
                        timeline_max_earningsB = timeline_max_earningsB.replace('K', '000').replace('M', '000000')

                    timeline.append({'name': name,
                                    'date': timeline_dateB,
                                    'subscribers': timeline_subsB,
                                    'views': timeline_viewsA,
                                    'min_earnings': timeline_min_earningsB,
                                    'max_earnings': timeline_max_earningsB})


                browser.back()

    except Exception as e:
        print(e)

In [17]:
summary_df = pd.DataFrame(summary)
views_df = pd.DataFrame(viewcount)
ranking_df = pd.DataFrame(ranking)
earnings_df = pd.DataFrame(earnings)
timeline_df = pd.DataFrame(timeline)

summary_df.to_csv('summary_df.csv')
views_df.to_csv('views_df.csv')
ranking_df.to_csv('ranking_df.csv')
earnings_df.to_csv('earnings_df.csv')
timeline_df.to_csv('timeline_df.csv')

In [18]:
views_df

,name,subs_last30d_count,views_last30d_count
0,T-Series,5298100,2473896000
1,SET India,1916537,1365789000
2,5-Minute Crafts,3194580,708033000
3,Zee TV,961489,0
4,VN Children’s Music,0,414468000
5,Cocomelon - Nursery Rhymes,3029725,1264509000
6,Like Nastya Vlog,1821374,0
7,Canal KondZilla,1241395,666564000
8,U2VEVO,-2748,307767000
9,Salih Reis'in Dünyası,0,621600000
10,Movieclips,918072,652215000
11,Satisfying Slime ASMR,21541,286151700
12,jorgeembon,973,258639600
13,✿ Kids Diana Show,1831124,599265000
14,netd müzik,275904,614010000
15,ArianaGrandeVevo,-54083,387630000
16,Google,63372,288108300
17,Zee Music Company,1286010,501276000
18,Speed Records,1137474,473664000
19,Boram Tube ToysReview [보람튜브…,1362486,384192000
20,سيف SAIIF,38833,10394670
21,Toys and Colors,712644,470538000
22,Colors TV,668715,0
23,PewDiePie,6298186,386520000
24,one31,593815,441069000
25,GR6 EXPLODE,922616,423288000
26,YouTube Spotlight,811247,248905500
27,El Reino Infantil,592030,420153000
28,Sony Music India,1409121,402774000
29,CKN Toys,439426,387192000
30,Toys And Little Gaby,941475,349170000
31,SonyMusicIndiaVEVO,1012757,378738000
32,BLACKPINK,1919140,386589000
33,T-Series Bhakti Sagar,883163,340548000
34,All Of Vines,52287,174198600
35,BillionSurpriseToys - Nursery Rhymes & Songs,784670,341235000
36,1theK (원더케이),467526,308697000

In [19]:
ranking_df

,grade,name,socialblade_rank,subscriber_rank,view_rank
0,A++,T-Series,1,5,1
1,A++,SET India,2,11,5
2,A++,5-Minute Crafts,3,8,43
3,A++,Zee TV,4,51,22
4,A++,VN Children’s Music,5,24214500,3490
5,A++,Cocomelon - Nursery Rhymes,7,28,21
6,A++,Like Nastya Vlog,9,186,219
7,A++,Canal KondZilla,10,7,6
8,A+,U2VEVO,13,9356,1620
9,A+,Salih Reis'in Dünyası,11,24408648,278
10,A+,Movieclips,14,63,9
11,A+,Satisfying Slime ASMR,16,3030,3958
12,A+,jorgeembon,17,25046,3889
13,A+,✿ Kids Diana Show,15,152,239
14,A+,netd müzik,18,206,4
15,A+,ArianaGrandeVevo,32,82,59
16,A+,Google,20,612,653
17,A+,Zee Music Company,23,32,29
18,A+,Speed Records,24,88,72
19,A+,Boram Tube ToysReview [보람튜브…,25,587,836
20,A+,سيف SAIIF,27,4193,10310
21,A+,Toys and Colors,29,592,324
22,A+,Colors TV,28,145,65
23,A+,PewDiePie,26,3,8
24,A+,one31,31,193,75
25,A+,GR6 EXPLODE,35,70,74
26,A+,YouTube Spotlight,34,34,1026
27,A+,El Reino Infantil,36,99,13
28,A+,Sony Music India,38,62,88
29,A+,CKN Toys,40,311,76
30,A+,Toys And Little Gaby,41,613,884
31,A+,SonyMusicIndiaVEVO,42,116,101
32,A+,BLACKPINK,44,126,290
33,A+,T-Series Bhakti Sagar,47,151,158
34,A+,All Of Vines,46,7731,7323
35,A,BillionSurpriseToys - Nursery Rhymes & Songs,51,71,124
36,A,1theK (원더케이),57,153,40

In [20]:
earnings_df

,max_annual_earnings,max_monthly_earnings,min_annual_earnings,min_monthly_earnings,name
0,118700000,9900000,7400000,618500,T-Series
1,65600000,5500000,4100000,341400,SET India
2,3400000,2800000,2100000,17700,5-Minute Crafts
3,42100000,3500000,2600000,219400,Zee TV
4,19900000,1700000,1200000,103600,VN Children’s Music
5,60700000,5100000,3800000,316100,Cocomelon - Nursery Rhymes
6,32700000,2700000,200000,170500,Like Nastya Vlog
7,3200000,2700000,200000,166600,Canal KondZilla
8,14800000,1200000,923300,76900,U2VEVO
9,29800000,2500000,1900000,155400,Salih Reis'in Dünyası
10,31300000,2600000,200000,163100,Movieclips
11,13700000,1100000,858500,71500,Satisfying Slime ASMR
12,12400000,100000,775900,64700,jorgeembon
13,28800000,2400000,1800000,149800,✿ Kids Diana Show
14,29500000,2500000,1800000,153500,netd müzik
15,18600000,1600000,1200000,96900,ArianaGrandeVevo
16,13800000,1200000,864300,7200,Google
17,24100000,200000,1500000,125300,Zee Music Company
18,22700000,1900000,1400000,118400,Speed Records
19,18400000,1500000,1200000,9600,Boram Tube ToysReview [보람튜브…
20,498900,41600,31200,2600,سيف SAIIF
21,22600000,1900000,1400000,117600,Toys and Colors
22,21600000,1800000,1400000,112700,Colors TV
23,18600000,1500000,1200000,96600,PewDiePie
24,21200000,1800000,1300000,110300,one31
25,20300000,1700000,1300000,105800,GR6 EXPLODE
26,11900000,995600,746700,62200,YouTube Spotlight
27,20200000,1700000,1300000,10500,El Reino Infantil
28,19300000,1600000,1200000,100700,Sony Music India
29,18600000,1500000,1200000,96800,CKN Toys
30,16800000,1400000,100000,87300,Toys And Little Gaby
31,18200000,1500000,1100000,94700,SonyMusicIndiaVEVO
32,18600000,1500000,1200000,96600,BLACKPINK
33,16300000,1400000,100000,85100,T-Series Bhakti Sagar
34,8400000,696800,522600,43500,All Of Vines
35,16400000,1400000,100000,85300,BillionSurpriseToys - Nursery Rhymes & Songs
36,14800000,1200000,926100,77200,1theK (원더케이)

In [21]:
timeline_df

,date,max_earnings,min_earnings,name,subscribers,views
0,2018-12-02,348700,21800,T-Series,73109515,54645090144
1,2018-12-04,373000,23300,T-Series,73721976,54817406795
2,2018-12-06,377400,23600,T-Series,74208335,54999469306
3,2018-12-08,348300,21800,T-Series,74635865,55177093764
4,2018-12-10,314700,19700,T-Series,74989383,55342803201
5,2018-12-12,396800,24800,T-Series,75284522,55520621661
6,2018-12-14,431500,27000,T-Series,75395083,55739751384
7,2018-12-03,316300,19800,T-Series,73410923,55739751384
8,2018-12-05,350800,21900,T-Series,73982223,55739751384
9,2018-12-07,362200,22600,T-Series,74438170,55739751384
10,2018-12-09,348100,21800,T-Series,74825240,55739751384
11,2018-12-11,314400,19700,T-Series,75127757,55739751384
12,2018-12-13,445000,27800,T-Series,75448639,55739751384
13,2018-12-15,293600,18300,T-Series,75521365 LIVE,55739751384
14,2018-12-02,194000,12100,SET India,36819572,25384772850
15,2018-12-04,192100,12000,SET India,36955167,25479093022
16,2018-12-06,182400,11400,SET India,37085177,25572319102
17,2018-12-08,180100,11300,SET India,37213765,25660704808
18,2018-12-10,171500,10700,SET India,37342867,25752224663
19,2018-12-12,179400,11200,SET India,37457715,25841596266
20,2018-12-14,174600,10900,SET India,37447402,25929266478
21,2018-12-03,185100,11600,SET India,36887533,25929266478
22,2018-12-05,190500,11900,SET India,37024079,25929266478
23,2018-12-07,173500,10800,SET India,37148766,25929266478
24,2018-12-09,194600,12200,SET India,37279082,25929266478
25,2018-12-11,178100,11100,SET India,37400143,25929266478
26,2018-12-13,176100,11000,SET India,37512009,25929266478
27,2018-12-15,95500,6000,SET India,37493700 LIVE,25929266478
28,2018-12-02,211000,13200,5-Minute Crafts,42569106,10645846806
29,2018-12-04,143600,9000,5-Minute Crafts,42957808,10726761997
...,...,...,...,...,...,...
488,2018-12-13,610300,38100,All Of Vines,1238200,332591293
489,2018-12-15,2300,143,All Of Vines,1239551 LIVE,332591293
490,2018-12-02,50000,3100,BillionSurpriseToys - Nursery Rhymes & Songs,19479689,6346686342
491,2018-12-04,47300,3000,BillionSurpriseToys - Nursery Rhymes & Songs,19536746,6368840401
492,2018-12-06,48100,3000,BillionSurpriseToys - Nursery Rhymes & Songs,19596697,6392272492
493,2018-12-08,51800,3200,BillionSurpriseToys - Nursery Rhymes & Songs,19659241,6417641552
494,2018-12-10,42300,2600,BillionSurpriseToys - Nursery Rhymes & Songs,19714499,6439483970
495,2018-12-12,43600,2700,BillionSurpriseToys - Nursery Rhymes & Songs,19762670,6461309855
496,2018-12-14,43000,2700,BillionSurpriseToys - Nursery Rhymes & Songs,19738490,6482660765
497,2018-12-03,41300,2600,BillionSurpriseToys - Nursery Rhymes & Songs,19507550,6482660765
498,2018-12-05,45700,2900,BillionSurpriseToys - Nursery Rhymes & Songs,19565551,6482660765
499,2018-12-07,49700,3100,BillionSurpriseToys - Nursery Rhymes & Songs,19628122,6482660765
500,2018-12-09,45000,2800,BillionSurpriseToys - Nursery Rhymes & Songs,19688355,6482660765
501,2018-12-11,43700,2700,BillionSurpriseToys - Nursery Rhymes & Songs,19737100,6482660765
502,2018-12-13,42400,2600,BillionSurpriseToys - Nursery Rhymes & Songs,19788381,6482660765
503,2018-12-15,27900,1700,BillionSurpriseToys - Nursery Rhymes & Songs,19758216 LIVE,6482660765
504,2018-12-02,30500,1900,1theK (원더케이),14244269,11461490510
505,2018-12-04,47000,2900,1theK (원더케이),14273913,11484270507
506,2018-12-06,44200,2800,1theK (원더케이),14302146,11506844821
507,2018-12-08,51600,3200,1theK (원더케이),14334396,11531483547
508,2018-12-10,45100,2800,1theK (원더케이),14362696,11554750695
509,2018-12-12,40800,2600,1theK (원더케이),14388642,11575311513
510,2018-12-14,41100,2600,1theK (원더케이),14388943,11595918960
511,2018-12-03,44200,2800,1theK (원더케이),14258453,11595918960
512,2018-12-05,46100,2900,1theK (원더케이),14289109,11595918960
513,2018-12-07,47000,2900,1theK (원더케이),14318218,11595918960
514,2018-12-09,48000,3000,1theK (원더케이),14349339,11595918960
515,2018-12-11,41400,2600,1theK (원더케이),14375312,11595918960
516,2018-12-13,41300,2600,1theK (원더케이),14403473,11595918960
517,2018-12-15,30400,1900,1theK (원더케이),14398846 LIVE,11595918960