In [147]:
import pandas as pd
from pprint import pprint

In [148]:
summary_df = pd.read_csv("summary_df.csv", index_col=0, parse_dates=True)
ranking_df = pd.read_csv("ranking_df.csv", index_col=0, parse_dates=True)
views_df = pd.read_csv("views_df.csv", index_col=0, parse_dates=True)
earnings_df = pd.read_csv("earnings_df.csv", index_col=0, parse_dates=True)

In [149]:
combined_df = pd.merge(summary_df, ranking_df, on='name')
combined_df = pd.merge(combined_df, views_df, on='name')
combined_df = pd.merge(combined_df, earnings_df, on='name')

In [150]:
combined_df.count()

category_x              193
created                 217
name                    217
subscribers             217
uploads                 217
views                   217
category_y              193
grade                   217
socialblade_rank        217
subscriber_rank         217
view_rank               217
category_x              193
subs_last30d_count      217
views_last30d_count     217
category_y              193
max_annual_earnings     217
max_monthly_earnings    217
min_annual_earnings     217
min_monthly_earnings    217
dtype: int64

In [151]:
cols=pd.Series(combined_df.columns)
for dup in combined_df.columns.get_duplicates(): cols[combined_df.columns.get_loc(dup)]=[dup+'.'+str(d_idx) if d_idx!=0 else dup for d_idx in range(combined_df.columns.get_loc(dup).sum())]
combined_df.columns=cols
combined_df = combined_df[["category_x.1", "created", "name", "subscribers", "uploads", "views", "grade", "socialblade_rank", "subscriber_rank", "view_rank", "subs_last30d_count", "views_last30d_count","min_monthly_earnings", "max_monthly_earnings", "min_annual_earnings", "max_annual_earnings"]]
combined_df = combined_df.dropna().rename(columns={"category_x.1":"category"})
combined_df = combined_df.rename(columns={"min_monthly_earnings":"monthly_earnings"})

C:\Users\Andrew Chin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: 'get_duplicates' is deprecated and will be removed in a future release. You can use idx[idx.duplicated()].unique() instead

In [152]:
combined_df = combined_df[combined_df['subscribers'] >= 0]
combined_df = combined_df[combined_df['views'] > 0]
combined_df = combined_df[combined_df['subs_last30d_count'] > 0]
combined_df = combined_df[combined_df['views_last30d_count'] > 0]
combined_df = combined_df[combined_df['monthly_earnings'] > 0]

In [156]:
combined_df.count()

category                150
created                 150
name                    150
subscribers             150
uploads                 150
views                   150
grade                   150
socialblade_rank        150
subscriber_rank         150
view_rank               150
subs_last30d_count      150
views_last30d_count     150
monthly_earnings        150
max_monthly_earnings    150
min_annual_earnings     150
max_annual_earnings     150
dtype: int64

In [157]:
category_avgmonthlyearnings = combined_df.groupby(['category'])['monthly_earnings'].mean()
category_avgmonthlyearnings = pd.DataFrame(category_avgmonthlyminearnings)
category_avgmonthlyearnings

               min_monthly_earnings
category
Comedy                 51100.000000
Education              75150.000000
Entertainment          34753.061224
Film                   37153.846154
Games                  32887.500000
Howto                  33366.666667
Music                  65541.666667
News                   30800.000000
People                 44800.000000
Shows                  28500.000000
Sports                 30450.000000
Tech                    7200.000000

In [158]:
category_avgsubscribers = combined_df.groupby(['category'])['subscribers'].mean()
category_avgsubscribers = pd.DataFrame(category_avgsubscribers)

In [159]:
category_avguploads = combined_df.groupby(['category'])['uploads'].mean()
category_avguploads = pd.DataFrame(category_avguploads)

In [160]:
category_avgviews = combined_df.groupby(['category'])['views'].mean()
category_avgviews = pd.DataFrame(category_avgviews)

In [171]:
earnings_subscribers = pd.merge(category_avgmonthlyminearnings, category_avgsubscribers, on='category')
earnings_subscribers

               min_monthly_earnings   subscribers
category
Comedy                 51100.000000  3.359325e+06
Education              75150.000000  7.361653e+06
Entertainment          34753.061224  6.027821e+06
Film                   37153.846154  4.810663e+06
Games                  32887.500000  1.279040e+07
Howto                  33366.666667  1.192765e+07
Music                  65541.666667  1.296252e+07
News                   30800.000000  6.151454e+06
People                 44800.000000  6.722666e+06
Shows                  28500.000000  3.989222e+06
Sports                 30450.000000  2.683440e+06
Tech                    7200.000000  6.877457e+06

In [172]:
earnings_uploads = pd.merge(category_avgmonthlyearnings, category_avguploads, on='category')
earnings_uploads

               min_monthly_earnings       uploads
category
Comedy                 51100.000000    358.000000
Education              75150.000000    398.500000
Entertainment          34753.061224  10288.612245
Film                   37153.846154   1331.461538
Games                  32887.500000   2309.875000
Howto                  33366.666667    963.888889
Music                  65541.666667   3532.500000
News                   30800.000000  70249.666667
People                 44800.000000   9523.461538
Shows                  28500.000000   8245.000000
Sports                 30450.000000   7707.500000
Tech                    7200.000000   2172.000000

In [173]:
earnings_views = pd.merge(category_avgmonthlyearnings, category_avgviews, on='category')
earnings_views

               min_monthly_earnings         views
category
Comedy                 51100.000000  1.111169e+09
Education              75150.000000  3.592462e+09
Entertainment          34753.061224  3.088821e+09
Film                   37153.846154  2.408337e+09
Games                  32887.500000  5.312991e+09
Howto                  33366.666667  2.715701e+09
Music                  65541.666667  7.493191e+09
News                   30800.000000  3.422781e+09
People                 44800.000000  2.769012e+09
Shows                  28500.000000  1.965573e+09
Sports                 30450.000000  1.421662e+09
Tech                    7200.000000  2.318014e+09

In [174]:
earnings_subscribers.to_csv('earnings_subscribers.csv')
earnings_uploads.to_csv('earnings_uploads.csv')
earnings_views.to_csv('earnings_views.csv')